{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="container">
    <form class="form" id="input-form">
      <div class="form__container">
        <input type="text" name="input" value="" class="input" id="input" autocomplete="off" placeholder="type something">
        <div id="mirror-input" class="mirror is-hidden"></div>
      </div>
      <button type="submit" name="button" class="btn">Animate!</button>
    </form>
  </div>

{% endblock %}
