.btn {
  display: inline-block;
  border: none;
  padding: $gtr-half;
  line-height: 1;
  background: $black;
  color: $white;
  font-family: $ff-primary;
  font-weight: 900;
  text-transform: uppercase;
}
