.input {
  display: block;
  width: 100%;
  font-family: $ff-primary;
  font-size: rem(100);
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
  border: none;
  outline: none;
  font-kerning: none;
  margin: 0;
  padding: 0;
  line-height: 1.25;

  &.is-hidden {
    z-index: 0;
    visibility: hidden;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba($black, 0.1);
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba($black, 0.1);
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba($black, 0.1);
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba($black, 0.1);
  }

  &::-ms-clear {
    display: none;
  }
}
